@inherits LayoutComponentBase

<div class="page">
    <header>
        <NavMenu />
    </header>

    <main class="content px-4 px-md-5 py-4">
        @Body
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
