<nav class="navbar navbar-expand-lg navbar-dark gradient-bar">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="">Maq's Meadow Creations</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="stock">Shop</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="custom">Custom Design</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="contact">Contact</NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>
